extends layout

block content
  h1= 'A list of affordable acoustic guitars'
  p Here are excellent acoustic guitars for beginners, with prices ranging from cheap but awesome to expensive and more awesome!
  ul
    each guitar in guitars
      li= guitar.model + ': ' + guitar.price
