doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home - Guitars For Beginners
    br
    a(href='/guitar') List of acoustic guitars
    br
    a(href='/eguitar') List of electric guitars

    block content
